/*
:root {
    --ParentHover: #ddd1b6;
    --ParentSelected: #e5dcc8;
    --Parent: #ede7d9;
    --CustomHover: #f2e7e4;
    --CustomSelected: #edddd9;
    --Custom: #f9f4f3;
    --ButtonHover: #d5a021;
    --ButtonSelected: #d5a021;
    --Button: #d5a021;
    --TextHighlight: #; 
    --Text: #023047;
    --Topnav: #ede7d9;
    --TopnavButton: #d5a021;
    --TopnavButtonHover: #d5a021;
    --InfoBoxBackground: #ede7d9;
    --InfoBoxButton: #d5a021;
    --InfoBoxButtonHover: #ddb34d;
    --InfoBoxButtonSelected: #EED9A6;
}
*/
*
{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    touch-action: none;
    user-select: none; /* Standard syntax */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
body {
    margin: 0; 
}
canvas { 
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.webgl{
    z-index: 0;
}

